/* style sheet for Calculator app */
*{
  margin: 0px;
  padding: 0px;
}
.floatClass{
  float: left;
  height: 50px;
  width: 100px;
  background-color: yellow;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "Malgun Gothic";
  line-height: 50px;
}
.longcell{
  width: 200px;
}
.red{
  background-color: #b30000;
  color: white;
}
.red:hover{
  background-color: #ff6666;
}
.blue{
  background-color: #0059b3;
  color: white;
}
.blue:hover{
  background-color: #3399ff;
}
.orange{
  background-color: #cc7a00;
  color: white;
}
.orange:hover{
  background-color: #ffb84d;
}
.green{
  background-color: #336600;
  color: white;
}
.green:hover{
  background-color: #66cc00;
}
#calculator{
  width: 500px;
  height: 320px;
  border: 15px solid #666666;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 0px 300px -20px;
}
#container{
  width: 500px;
  height: 320px;
  margin: 180px auto;
  position: relative;
}
.display{
  height: 35px;
  background-color: #b3b3b3;
  border: 1px solid white;
  box-sizing: border-box;
  text-align: right;
  line-height: 35px;
  padding-right: 10px;
  font-family: "Malgun Gothic";
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
}
#display1{
  color: darkblue;
}
#display2{
  font-size: 26px;
  border-top: 0px;
}
#theme{
  background-color: #b3b3b3;
  width: 120px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: -10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 3px solid #666666;
  border-bottom: 0px;
  box-sizing: border-box;
  z-index: 0;
}
#btn{
  height: 26px;
  line-height: 26px;
  position: absolute;
  top: 11px;
  left: 20px;
  font-family: "Malgun Gothic";
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}
#btn:active{
  background-color: #000000;
  color: #ffffff;
}

/* For toggle class changing theme */
.classic{
  background-color: #333333;
  color: white;
}
.classic:hover{
  background-color: #666666;
}
.classicDisplay{
  background-color: #9fdf9f;
}
